.main {
    width: 3.75rem;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.2); */
    background-color: white;
}

.main>.header {
    width: 3.75rem;
    height: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03a9f4;
    box-shadow: 0px 0px 0.05rem #999;
}

.header>.logo {
    width: 1.2rem;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
    font-weight: 900;
}

.header>input {
    height: 0.3rem;
    margin: 0 0.2rem;
    width: 2.2rem;
    border-radius: 0.05rem;
    border: none;
    outline: none;
    padding: 0 0.2rem;
}

body {
    font-size: 16px;
}

.todo h3 {
    height: 0.6rem;
    line-height: 0.6rem;
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem;
    box-shadow: 0 0 0.02rem #999;
    margin-top: 0.08rem;
    margin-left: 0.08rem;
    margin-right: 0.08rem;
    border-radius: 0.05rem;
}

.todo .list {
    padding: 0 0.2rem;
}

.todo .todoitem {
    display: flex;
    height: 0.32rem;
    line-height: 0.32rem;
    align-items: center;
    /* background-color: lightblue; */
    overflow: hidden;
    border-radius: 0.05rem;
    margin-bottom: 0.08rem;
    box-shadow: 0 0 0.02rem #999;
}

.todo .todoitem:nth-child(1) {
    display: flex;
    height: 0.32rem;
    line-height: 0.32rem;
    align-items: center;
    /* background-color: lightblue; */
    overflow: hidden;
    border-radius: 0.05rem;
    margin-bottom: 0.08rem;
    box-shadow: 0 0 0.02rem #999;
    margin-top: 0.08rem;
}

.todo .todoitem::before {
    content: "";
    display: block;
    height: 100%;
    width: 0.04rem;
    background-color: #03a9f4;
}

.todo .todoitem>input {
    width: 0.25rem;
    height: 0.25rem;
    margin: 0 0.1rem;
}

.todo .todoitem .content {
    width: 2.65rem;
    color: #333;
}

.todo .todoitem .del {
    background-color: orangered;
    width: 0.4rem;
    height: 0.2rem;
    font-size: 0.12rem;
    border-radius: 0.05rem;
    margin: 0 0.1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.done .list .todoitem {
    opacity: 0.5;
    -webkit-filter: grayscale(1);
}

.main>.yy {
    margin: 0 0.08rem;
    margin-top: 0.05rem;
    height: 0.6rem;
    background-color: white;
    box-shadow: 0 0 0.02rem #999;
    border: none;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bf>.icon-bf {
    font-size: 0.25rem;
}

.jy {
    width: 0.5rem;
    height: 0.5rem;
    border: 1px solid #999;
    border-radius: 0.25rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.15rem;
    color: white;
    background-color: cadetblue;
    /* outline: none; */
    border: none;
}

.bfxz {
    animation: xz 4s infinite linear;
    /* transform: rotate(360deg); */
}

@keyframes xz {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
